include README.md
include LICENSE
include requirements.txt
include STRUCTURE.md
recursive-include assets *.png *.ttf *.wav
recursive-include src *.py
recursive-include tests *.py
global-exclude __pycache__
global-exclude *.py[co]
